<html>
  <head>
    <title><%= page.title %></title>
  </head>

  <body>
    <div id="app"></div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@vue/composition-api@1.1.4"></script>
    <script src="<%= assets.runtimeJs %>"></script>
    <script src="<%= assets.hmrClientJs %>"></script>
    <script src="<%= assets.path %>"></script>
    <script>
      new window.Vue({ render: createElement => createElement(window['demo']) }).$mount("#app");
    </script>
  </body>
</html>
